SUBSYSTEM=="usb", ATTR{idVendor}=="0db0", ATTR{idProduct}=="6a05", MODE="0666", GROUP="users"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0db0", ATTRS{idProduct}=="6a05", MODE="0666", GROUP="users"
SUBSYSTEM=="usb", ATTR{idVendor}=="0db0", ATTR{idProduct}=="9ba6", MODE="0666", GROUP="users"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0db0", ATTRS{idProduct}=="9ba6", MODE="0666", GROUP="users"
